<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Oswald&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark-primary-color justify-content-between">
        <h3>Welcome {{user.username}}!</h3>
        <div class="d-flex justify-content-end">
            <div class="mr-sm-4">
                <a href="/event/new" class="btn btn-warning">Create an Event</a>
            </div>
            <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
    </nav>
    <hr>
        <h1 class="events">Events</h1>
        <table class="table table-striped table-dark" id="table">
            <tr class="">
                <th>Event</th>
                <th>Date</th>
                <th>Location</th>
                <th>Additional Info</th>
            </tr>
            {% for one_event in all_events %}
            <tr class="">
                <td>{{one_event.name}}</td>
                <td>{{one_event.date}}</td>
                <td>{{one_event.location}}</td>
                    {% if one_event.creator.id == session.user_id%}
                    <td>
                        <a href="/event/edit/{{one_event.id}}">Edit</a>
                        |
                        <a href="/destroy/event/{{one_event.id}}">Delete</a>
                    </td>
                    {% else %}
                    <td><a href="/event/{{one_event.id}}">View Event</a></td>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="nasa">
            <h2>Nasa's Astronomical Picture of the Day</h2>
            <form action="">
                <label for="datepicker" class="pick">Pick a date:
                    <input type="date" name="" id="datepicker">
                </label>
            </form>
            <section class="title-section">
                <h3 id="title"></h3>
                <p id="date"></p>
                <small style="display: block;" id="copyright"></small>
            </section>
            <section id="media-section"></section>
            <div class="description-div">
                <p id="description"></p>
            </div>
        </div>
        <script src="{{  url_for('static', filename='js/app.js')}}" async></script>
</body>
</html>